div.header_bg_p {
    background: radial-gradient(circle farthest-corner at right center, #98DEF7 0%, #D6F7FF 100%);
    background: -moz-radial-gradient(circle farthest-corner at right center, #98DEF7 0%, #D6F7FF 100%);
    background: -o-radial-gradient(circle farthest-corner at right center, #98DEF7 0%, #D6F7FF 100%);
    background: -ms-radial-gradient(circle farthest-corner at right center, #98DEF7 0%, #D6F7FF 100%);
    background: -webkit-radial-gradient(right center, circle farthest-corner, #98DEF7 0%, #D6F7FF 100%);
}


/* slogan display */

div.slogan1 {

  padding: 35px;

}

.slogan1 > p {

  text-align: center;

  font-family: Copperplate,Copperplate Gothic Light,fantasy;

  font-size: 24px;

  font-style: normal;

  font-variant: normal;

  font-weight: 500;

  line-height: 26.4px;

}



/* swot display */

ul.swot-list {

  margin-top: 23px;

}



.swot-list > li {

  position: relative;

  padding-left: 100px;

}



.swot-list > li +li {

  margin-top: 43px;

}



.swot-list > li::before {

  content: "";

  position: absolute;

  width: 80px;

  height: 80px;

  background: #21C2F8 none repeat scroll 0% 0%;

  top: -1px;

  left: 0px;

}



.swot-list > li.li-s::after {

  content: "S";

  position: absolute;

  color: #FFF;

  font-size: 24px;

  font-weight: 700;

  left: 33px;

  top: 19px;

}



.swot-list > li.li-w::after {

  content: "W";

  position: absolute;

  color: #FFF;

  font-size: 24px;

  font-weight: 700;

  left: 33px;

  top: 19px;

}



.swot-list > li.li-o::after {

  content: "O";

  position: absolute;

  color: #FFF;

  font-size: 24px;

  font-weight: 700;

  left: 33px;

  top: 19px;

}



.swot-list > li.li-t::after {

  content: "T";

  position: absolute;

  color: #FFF;

  font-size: 24px;

  font-weight: 700;

  left: 33px;

  top: 19px;

}



/* tabs */

.tab-products {

  padding-top: 20px;

  padding-left: 50px;

  padding-right: 50px;

}



#tabs {

  overflow: hidden;

  width: 100%;

  margin: 0;

  padding: 0;

  list-style: none;

}



#tabs li {

  float: left;

  margin: 0 .5em 0 0;

}



#tabs a {

  position: relative;

  background: rgb(33, 192, 245) none repeat 0% 0%;

  /*background-image: linear-gradient(to bottom, rgb(33, 192, 245), #fff);  */

  padding: .7em 3.5em;

  float: left;

  text-decoration: none;

  color: #444;

  /*text-shadow: 0 1px 0 rgba(255,255,255,.8);*/

  border-radius: 5px 0 0 0;

  box-shadow: 0 2px 2px rgba(0,0,0,.4);

}



#tabs a:hover,

#tabs a:hover::after {

  color: #fff;
  
}

#tabs a:focus,

#tabs a:focus::after {

  background: #fff;
}



#tabs a:focus {

  outline: 0;

}



#tabs a::after {

  position:absolute;

  z-index: 1;

  top: 0;

  right: -.5em;  

  bottom: 0;

  width: 1em;

  background: #ddd;

  background-image: linear-gradient(to bottom, #fff, #ddd);  

  box-shadow: 2px 2px 2px rgba(0,0,0,.4);

  transform: skew(10deg);

  border-radius: 0 5px 0 0;  

}



#tabs #current a,

#tabs #current a::after {

  background: #E9C0C0;

  z-index: 3;

  font-size: 18px;

}



#content {

  background: #fff;

  padding: 2em;

  height: 220px;

  position: relative;

  z-index: 2; 

  border-radius: 0 5px 5px 5px;

  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);

}

/* list news */
.field_news {
  border-bottom: 1px dotted #B6B6B6;
  padding: 12px 0px;
}

.field_news h2,h3 {
  font: bold 1em Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
  color: #5F5F5F;
}

.field_news a {
  color: #7DA939;
  text-decoration: none;
}

.field_news a.title {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 115%;
}

.field_news p {
  margin: 0px;
}

/* show news content and address bar*/
.box-news {
    background-color: white;
    width: 100%;
    border: 5px solid #21C2F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 15px;
}

.box-news .title-news{
    vertical-align: middle;
    background: #21C2F8;
    padding-right: 32px;
    position: absolute;
    top: -14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-clip: content-box;
    margin-left: -5px;
    z-index: 1;
}

.box-news .title-news:after{
    content: '';
    margin-left: 16px;
    top: 0;
    height: 120px;
    background: #21C2F8;
    transform: skew(31deg,0deg);
    -o-transform: skew(31deg,0deg);
    -ms-transform: skew(31deg,0deg);
    -moz-transform: skew(31deg,0deg);
    -webkit-transform: skew(59deg,0deg);
    position: absolute;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
}

.box-news .title-news > h3,h4 {
    line-height: 1.25;
    color: #FFF !important;
    font-weight: 700;
    text-transform: none;
    padding: 2px 3px 0px 15px;
}

.box-news .content-news {
    position: relative;
    padding: 25px;
}

.box-news .content-news .title-content {
  width: 100%;
}

.box-news .content-news .title-content h3, h4 {
  font-weight: bold;
  color: #000;
}

.box-news .content-news .image-content {
  width: 100%;
  height: 20%;
}

.box-news .content-news .main-content {
  width: 100%;
  height: 80%;
}